body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.GuardianHeader {
  background-color: #2bbbad;
    padding-left: 20%;
    padding-right: 10%;
}
.userListHolder {
  padding-top: 10px;
}
.userDataTable {
  margin-bottom: 30px;
}
.userListItem{
  display: inline-block;
}

.errorMessage {
  text-align: center;
  background-color: rgba(185, 131, 130, 0.67);
}
